# Ignore personal settings
/personal.el
# Ignore customization file
/custom.el
# Ignore Emacs backup files
*~
# Ignore Emacs cache directory but exclude straight package freeze files
/.cache/*
!/.cache/straight/
/.cache/straight/*
!/.cache/straight/versions/
# Ignore Emacs eln cache directory
/eln-cache/
# Ignore yas snippet directory
/snippets/
# Ignore tree-sitter directory
/tree-sitter/